#bloco1 {
    width: 100%;
    padding: 20px;
    background-color: rgb(204, 60, 108);
    margin-bottom: 40px;
    text-align: center;
    position: relative;
}

body {
    margin: 0;
}

.menu {
    list-style: none; 
    display: block;
    position: absolute;

}

.menu li {
    float: left;


}

.menu li a {
    display: block;
    padding: 20px;
}


#bloco2 {
    margin: 0 auto;
    width: 900px;
    z-index: 30;
}

#fatores {
    padding: 20px 0;

}

#bloco3 {
    width: 250px;


}

p {}


#caixa {
    width: 50%;
    text-align: center;
}

#metas {
    text-align: center;
}