#bloco1 {
    border: 3px solid rgb(42, 42, 245);
    background-image: url(img/fundo\ 3.avif) 100% auto;
    width: 250px;
    position: fixed;
    z-index: 20;
}

#bloco2 {
    width: 250px;
  position: relative;
  z-index: 30;
}

#bloco3 {
    width: 250px;
    
    
}

p {
    text-align: center;
}


#caixa {
    width: 50%;
    text-align: center;
}