#bloco1 {

    padding: 20px;
    background-color: rgb(204, 60, 108);
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    height: 100px;
}

body {
    margin: 0;
}

.menu {
    list-style: none;
    display: block;
    width: 800px;
    margin: 16px auto;

}

.menu li {
    float: left;


}

.menu li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 20px 70px;
}

.menu li a:hover {
    color: purple
}

#bloco2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 900px;
    z-index: 30;
    font-size: 20px;
    line-height: 30px;

}

#fatores {
    padding: 20px 0;

}

#bloco3 {
    width: 250px;


}

p {}


#caixa {
    width: 50%;
    text-align: center;
}

#metas {
    text-align: center;
}

.video {
    float: left;
    margin-right: 50px;
}

.img-esquerda {
    float: right;
}